<!-- Fonts - 优化加载 -->
{{ if eq .Site.Language.Lang "zh" }}
<!-- LXGW WenKai 霞鹜文楷 - preconnect + swap -->
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
<link href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/style.css" rel="stylesheet" media="print" onload="this.media='all'">
<noscript><link href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/style.css" rel="stylesheet"></noscript>
{{ else }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet" media="print" onload="this.media='all'">
<noscript><link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet"></noscript>
{{ end }}

<!-- Aplayer -->
{{ with resources.Get "css/aplayer.css" }}
<style>{{ .Content | safeCSS }}</style>
{{ end }}

<!-- Pagefind - 延迟加载 -->
{{ if eq .Kind "taxonomy" }}
<link rel="stylesheet" href="/pagefind/pagefind-ui.css" media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" href="/pagefind/pagefind-ui.css"></noscript>
{{ end }}

<!-- Extra -->
{{ range .Site.Params.extraCSSFiles -}}
<link
    rel="stylesheet"
    href="{{ $.Site.Params.staticPrefix }}{{ . | relURL }}"
/>
{{- end }}

<!-- theme css -->
{{ $unoCSS := resources.Get "css/uno.css" }}
{{ if $unoCSS }}
{{ $unoCSS = $unoCSS | minify }}
<style>{{ $unoCSS.Content | safeCSS }}</style>
{{ end }}

{{ $mainSCSS := resources.Get "css/main.scss" }}
{{ if $mainSCSS }}
{{ $mainSCSS = $mainSCSS | css.Sass | minify }}
<style>{{ $mainSCSS.Content | safeCSS }}</style>
{{ end }}
