<!-- Link preview meta tags -->
{{- $isHome := .IsHome -}}
{{- $title := cond $isHome .Site.Title .Title -}}
{{- $description := cond $isHome .Site.Params.description (default .Summary .Description | plainify) -}}
{{- $ogType := cond $isHome "website" "article" -}}

{{/* 图片逻辑优化 - 优先级：banner > 文章第一张图片 > 默认OG图片 > favicon */}}
{{- $image := "" -}}
{{- if isset .Params "banner" -}}
  {{- $image = .Params.banner | absURL -}}
{{- else if and (not .IsHome) .Content -}}
  {{/* 从渲染后的 HTML 内容中提取第一张图片 */}}
  {{- $content := .Content -}}
  
  {{/* 匹配 HTML img 标签 */}}
  {{- $imgPattern := `<img[^>]+src="([^"]+)"[^>]*>` -}}
  {{- $matches := findRE $imgPattern $content 1 -}}
  {{- if $matches -}}
    {{- $match := index $matches 0 -}}
    {{- $imgSrc := replaceRE $imgPattern "$1" $match -}}
    
    {{/* 处理图片路径 */}}
    {{- if hasPrefix $imgSrc "http" -}}
      {{- $image = $imgSrc -}}
    {{- else if hasPrefix $imgSrc "/" -}}
      {{- $image = $imgSrc | absURL -}}
    {{- else -}}
      {{- $image = (printf "/%s" $imgSrc) | absURL -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* 如果还没有找到图片，使用默认图片 */}}
{{- if not $image -}}
  {{- if .Site.Params.default_og_image -}}
    {{- $image = .Site.Params.default_og_image | absURL -}}
  {{- else -}}
    {{- $image = .Site.Params.favicon | absURL -}}
  {{- end -}}
{{- end -}}

<title>{{ $title }}</title>
<link rel="canonical" href="{{ .Permalink }}" />
<meta name="author" content="{{ .Params.author | default .Site.Params.author }}" />
<link rel="icon" href="/favicon.ico">

<!-- Open Graph meta tags -->
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ $title }}" />
<meta property="og:type" content="{{ $ogType }}" />
<meta property="og:description" content="{{ $description }}" />
<meta name="description" content="{{ $description }}" />
<meta property="og:locale" content="{{ .Site.LanguageCode }}" />
<meta property="og:image" content="{{ $image }}" />
{{- if $image -}}
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:type" content="image/jpeg" />
{{- end -}}

<!-- Twitter Card meta tags -->
{{- $cardType := "summary" -}}
{{- if or (isset .Params "banner") (and (not .IsHome) .Content (findRE `<img[^>]+src="[^"]+"[^>]*>` .Content 1)) -}}
  {{- $cardType = "summary_large_image" -}}
{{- end -}}
<meta name="twitter:card" content="{{ $cardType }}" />
{{- if .Site.Params.twitter -}}
<meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
{{- end -}}
{{- if .Params.author_twitter -}}
<meta name="twitter:creator" content="@{{ .Params.author_twitter }}" />
{{- else if .Site.Params.author_twitter -}}
<meta name="twitter:creator" content="@{{ .Site.Params.author_twitter }}" />
{{- end -}}
<meta name="twitter:title" content="{{ $title }}" />
<meta name="twitter:description" content="{{ $description }}" />
<meta name="twitter:image" content="{{ $image }}" />
{{- if $image -}}
<meta name="twitter:image:alt" content="{{ $title }}" />
{{- end -}}

<!-- RSS -->
<link rel="alternate" type="application/atom+xml" href="{{.Site.BaseURL}}index.xml" title="{{ .Site.Title }}">
<link href="{{ .Site.Params.staticPrefix }}{{ "index.xml" | relURL }}" rel="alternate" type="application/rss+xml"
    title="{{ .Site.Title }}">

<!-- JSON-LD -->
<script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "BlogPosting",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ .Site.BaseURL }}"
        },
        "articleSection" : "{{ .Section }}",
        "name" : "{{ .Title }}",
        "headline" : "{{ .Title }}",
        {{ if .IsHome -}}
        "description" : "{{ .Site.Params.description | plainify }}",
        {{- else -}}
        "description" : "{{ default .Summary .Description | plainify }}",
        {{- end }}
        "inLanguage" : "zh-CN",
        "author" : "{{ .Params.author | default .Site.Params.author }}",
        "creator" : "{{ .Params.author | default .Site.Params.author }}",
        "publisher": "{{ .Params.author | default .Site.Params.author }}",
        "accountablePerson" : "{{ .Params.author | default .Site.Params.author }}",
        "copyrightHolder" : "{{ .Params.author | default .Site.Params.author }}",
        "copyrightYear" : "{{ .Date.Format "2006" }}",
        "datePublished": "{{ .Date }}",
        "dateModified" : "{{ .Date }}",
        "url" : "{{ .Permalink }}",
        "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }} ]
    }
</script>
