<!-- Latest Posts with Featured on Top -->
<section class="pagefind-exclude">
    <div class="flex flex-col my-4">
        {{/* 获取所有文章 */}}
        {{ $allPosts := where site.RegularPages "Type" "in" site.Params.mainSections }}
        
        {{/* 分离精选和普通文章 */}}
        {{ $featuredPosts := where $allPosts ".Params.featured" true }}
        {{ $regularPosts := where $allPosts ".Params.featured" "!=" true }}
        
        {{/* 精选文章置顶显示 */}}
        {{ $isFirst := true }}
        {{ range $featuredPosts }}
            {{ partial "items/post" (dict
                "ctx" .
                "showSummary" $isFirst
                "isFeatured" true
            ) }}
            {{ $isFirst = false }}
        {{ end }}
        
        {{/* 普通文章按时间排序 */}}
        {{ $remainingCount := sub 14 (len $featuredPosts) }}
        {{ range first $remainingCount $regularPosts }}
            {{ partial "items/post" (dict
                "ctx" .
                "showSummary" $isFirst
                "isFeatured" false
            ) }}
            {{ $isFirst = false }}
        {{ end }}
    </div>
    <a href="/posts" class="small-button">
        {{ T "moreLinks.posts" }} →
    </a>
</section>
