{{ if eq .Site.Language.Lang "zh" }}
<!-- Latest Cards -->
<section class="my-4">
    <div class="p-[5px] flex w-full overflow-x-auto gap-4 items-stretch">
        {{- $cards := .Site.GetPage "section" "cards" }}  <!-- 获取 "cards" 部分的内容 -->
        {{- $paginator := .Paginate $cards.Pages 4 }}  <!-- 对该部分内容进行分页 -->
        {{- range $paginator.Pages }}
          <div class="flex-shrink-0 w-5/6 md:w-1/2">
              {{ partial "items/card" (dict
                "context" .
                "summary" true
                "summaryClass" "text-base!") }}
          </div>
        {{- end }}
    </div>
    <div class="py-4">
        <a href="/cards" class="small-button"
            data-umami-event="➕ Click more cards link">
            {{ T "moreLinks.cards" }} →
        </a>
    </div>
</section>
{{ end }}
