<header class="pagefind-exclude">
  <!-- Logo & Title -->
  <div class="flex flex-col items-center gap-2">
    {{ partial "header/hoverable-logo" . }}
    <a class="text-8 font-900 text-center tracking-widest
        xerox hover:no-underline"
        href="{{ .Site.LanguagePrefix }}/"
      >{{ .Site.Title }}</a
    >
  </div>
  <!-- Navigation -->
  {{ $navOffset := "pl-6" }}
  <div class="flex justify-center items-center gap-3 text-size-sm md:text-size-base {{ $navOffset }}">
      {{ partial "header/navigation" . }}
      <!-- {{ partial "header/language-switch" . }} -->
  </div>
</header>
