{{ with resources.Get "js/tooltip.js" }}
<script>{{ .Content | safeJS }}</script>
{{ end }}

{{- range .Site.Params.externalJSFiles }}
  <script src="{{ $.Site.Params.staticPrefix }}{{ . | relURL }}"></script>
{{- end }}

{{ partial "scripts/theme-toggle-js.html" . }}
{{ partial "scripts/toc-js.html" . }}
{{ partial "scripts/littlefoot-js.html" . }}
{{ partial "scripts/libra-js.html" . }}
{{ partial "scripts/aplayer-js.html" . }}

{{ if .File }}
    {{ partial "scripts/action-menu-js.html" (.File.UniqueID | urlize) }}
{{ end }}
