{{ define "main" }}
    <article>
        {{ partial "header" . }}
        <h1 class="term-title">{{ .Title }}</h1>
        <div class="post-content markdown-body text-size-lg md:text-size-xl">
            <p>{{ .Content }}</p>
        </div>
        <!-- Highlights -->
        {{ $highlights := site.Data.highlights }}
        {{ if $highlights }}
        {{ range $highlights }}
        <section class="post-content">
            <h3><a href="{{ .url }}">《{{ .title }}》</a></h3>
            <ul class="list-none">
                {{ range .highlights }}
                    <li class="my-2 text-lg">
                        <mark class="bg-amber-2 dark:bg-amber-3/50 transition-colors
                            hover:bg-amber-2/50 dark:hover:bg-amber-3/20">
                            <a class="hover:no-underline" href="{{ .link }}">{{ .text | markdownify }}</a>
                        </mark>
                    </li>
                {{ end }}
            </ul>
        </section>
        {{ end }}
        {{ end }}
    </article>
{{ partial "footer.html" . }}
{{ end }}
