{{ define "main" }}
    <article>
      {{ partial "header.html" . }}
      <div class="posts-list pagefind-exclude">
        <!-- Post Archive List -->
        {{ range (where site.RegularPages "Type" "eq" "posts").GroupByDate "2006" -}}
          <section class="w-full mb-8">
            <h1 class="border-b border-b-solid border-[var(--border-color)]
                py-3 text-4 font-semibold
                flex justify-between items-center"
                style="color: var(--text-color);">
                {{ .Key }}
                <small class="font-mono text-3 opacity-80" style="color: var(--secondary-text-color);">{{ T "archivePage.postCountAnnual" (len .Pages) }}</small>
            </h1>

            <ul class="ps-0 flex flex-col gap-3 list-none leading-relaxed mt-3">
                {{ range .Pages }}
                {{ partial "items/post-small" . }}
                {{ end }}
            </ul>
          </section>
        {{ end }}
      </div>
    </article>
    {{ partial "footer.html" . }}
{{ end }}
