{{- $src := .Destination -}}
{{- $alt := .Text | default "" -}}
{{- $caption := .Title | default "" -}}
{{- $class := .Attributes.class | default "" -}}

<figure>
    <a href="{{ $src }}" data-fancybox data-caption="{{ $caption }}" class="fancybox-link">
        <img
            class="lazy {{ $class }}" loading="lazy"
            src="{{ $src }}" alt="{{ $alt }}"
        />
    </a>
    {{- if $caption }}
    <figcaption>
        <h4>{{ $caption | markdownify }}</h4>
    </figcaption>
    {{- end }}
</figure>
