{{/* Find the maximum link count */}}
{{ $max := 0 }}
{{ range .Site.Data.externallinks }}
    {{ if gt (index . 1) $max }}
        {{ $max = index . 1 }}
    {{ end }}
{{ end }}

<ol id="external-link-rank"
    class="p-0 m-0 max-h-[700px] overflow-y-auto box-border">
{{ range .Site.Data.externallinks }}
    {{ $label := index . 0 }}
    {{ $count := index . 1 }}
    {{ if gt $count 2 }}
        {{ $percent := div (mul $count 100) $max }}
        <li class="list-none w-full my-2 box-border py-[0.1rem] px-2 relative">
            <div class="mb-1 flex justify-between items-center">
                <a class="inline-flex items-center gap-2" href="https://{{ $label }}/" target="_blank">
                    <img src="https://favicone.com/{{ $label }}?s=50"
                        class="w-4 h-4"/>
                    {{ $label }}
                </a>
                <span class="text-secondary font-mono">{{ $count }}</span>
            </div>
            <div class="bg-gray-200 dark:bg-zinc-700 absolute top-0 left-0 right-0 bottom-0 -z-1" style="width:{{ $percent }}%"></div>
        </li>
    {{ end }}
{{ end }}
</ol>
